body {
    background-image: url(/images/back8.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.navbar-default {
    color: #FFFFFF;
    background-color: #CC3333;
}
.suggestions {
/*    background-color: #AFEEEE;*/

    border-radius:10px;
    margin: 10px;
    font-family: cursive, sans-serif;
    padding-left: 5px;
    padding-bottom: 5px;
    border-style: dashed;
}
.comments {
    /*    background-color: #AFEEEE;*/
    background-color: rgba(173, 216, 230, 0.9);
    /*background-color: rgba(175, 238, 238, 0.8);*/
    border-radius:10px;
    margin: 10px;
    font-family: cursive, sans-serif;
    padding-left: 10px;
    padding-bottom: 5px;
    border-style: dashed;
}
.main-page {
    margin-top: 70px;
}
.user-interface {
    margin-top: 120px;
}
.home {
    position: relative;
    padding: 10px;
}
.form-auth {
    max-width: 330px;
    padding:5px;
    margin: 0 auto;
}
.operation {
    margin: 10px;
    font-family: cursive, sans-serif;
}
.link{
    color: #191970;
    font-size: 16px;
}
.link:hover {
    text-decoration: none;
}
.post-header {
    white-space:normal;
    width:780px;
}
.comments_section{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 5px;
    border-radius: 5px;
}
.comments_section:hover {
    /*background-color: rgba(173, 216, 230, 0.9);*/
    background-color: rgba(175, 238, 238, 0.8);
}
/*.navbar-brand:hover {
    color: #fff;
}*/
#add {
    margin: 5px;
    border-radius: 5px;
    background-color:#B0E0E6;
    border:none;
}

#add:hover {
    background-color: #0000cd;
}

#remove {
    border-radius:5px;
    background-color: #B0E0E6;
    border:none;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}
#remove_comments {
    border-radius:5px;
    background-color: #B0E0E6;
    border:none;
    float: right;
    margin-right: 5px;
    margin-top: 1px;
}
#remove_comments:hover {
    background-color: #ff0000;
}
#post-by {
    padding-left: 10px;
    white-space:normal;
    width:200px;
}
#remove:hover {
    background-color: #ff0000;
}

#suggestion_title {
    font-size: 20px;
}A
#suggestion_comment {
    border-color: #333;

}

#title {
    margin: 10px;
    font-family: cursive, sans-serif;
    text-align: center;
    font-size: 50px;
}

#bulb {
    width: 11%;
    padding: 10px;
}

#comment-by {
    color:#666;
}
#comment-content {
    padding-left: 10px;
    white-space:normal;
    width:700px;
}
.odd {

    /*background-color: #ADD8E6;*/
    /*background-color: rgba(173, 216, 230, 0.8);*/
    background-color: rgba(175, 238, 238, 0.8);
}

.even {
    /*background-color: #AFEEEE;*/
     /*background-color: rgba(175, 238, 238, 0.8);*/
     background-color: rgba(173, 216, 230, 0.9);
}