<div class="my-main-page">
<h1 id="title"><span><img id="bulb" src="suggestion/img/light-bulb.svg"></span>Suggestion Box</h1>
<div class="home">
    <div class="suggestions" ng-repeat="post in posts | orderBy:'-upvote'" ng-class-odd="'odd'" ng-class-even="'even'">
        <button id="remove" ng-show='authenticated' ><span class="glyphicon glyphicon-remove-sign" ng-click="remove(post)"></span></button>
        <h3 class="post-header">{{ post.title }}<span id="post-by"><small> Posted by @{{post.created_by}}  at "{{post.created_at | date:"h:mma 'on' MMM d, y"}}"</small></span></h3>
        <p>
            <button id="add" ng-show='authenticated'><span class="glyphicon glyphicon-plus-sign" ng-click="upVote(post)"></span></button> Upvotes: {{post.upvote}}
        </p>
        <a class="link" href="#/suggestion/{{post._id}}">Comments</a>
    </div>

    <div class="operation" ng-show='authenticated'>
        <form ng-submit="post()" style="margin-top: 50px">
            <h3> Submit Your Suggestion </h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Great ideas here" ng-model="newPost.title"></input>
            </div>
            <button type="submit" class="btn btn-primary">Suggest</button>
        </form>
    </div>
</div>
</div>
